__pycache__/
.venv/
.DS_Store
.idea/
.vscode/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ruff_cache/

*.7z
*.txt
*.pt
*.onnx.*
*.onnx
*.safetensors
.cache
gt.tsv
ilspeech_speaker1_v1/
ilspeech_speaker2_v1/
saspeech_automatic/
saspeech_manual/